.line{

    height: 1px;

    position: relative;

    width: 100%;

    margin-bottom: 20px;

}

.line svg{

    position: absolute;

    height: 100px;

    width: 100%;

    top: -50px;

}

.line svg path{

    stroke-width: 1px;

    stroke: white;

    fill: none;

}

.box{

    height: 40px;

    width: 100%;

    display: flex;

    position: relative;

    top: -20px;

    z-index: 1;

}

.cursor_{
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    
}