/* font-family: 'Unbounded', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;400;500&family=Irish+Grover&family=Unbounded:wght@200;400;500;600;800;900&display=swap');

/* font-family: 'Hanken Grotesk', sans-serif; ......................*/

/* ................................ */

.scrollee1{
  /* background: #e85549; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scrollee1 h1{
  font-size: 5rem;
  font-family: 'Unbounded', sans-serif;
  text-transform: uppercase; 
  line-height: 0.9em; 
}

.scrollee1 h1:nth-child(1){
  transform: rotateX(4deg) rotateZ(356deg) rotateY(-46deg);
  animation: scroll1 2s linear infinite;
}

.competencetitle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 100px 0;
  color: white;
}
.competencetitle button{
  padding: 15px;
  width: 40%;
  border: none;
  transition: all 0.5s;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.competencetitle button:hover{
  background-color: #34393E !important;
}
.hardskills{
  width: 100%;
}

.hardskills ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hardskills li{
  list-style: none;
  margin-bottom: 100px;
  margin-right: 20px;
  width: 45%;
}



.titrehard {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.titrehard img{
  height: 30px;
  margin-right: 20px;
}

.titrehard h3{
  font-size: 1rem;
}
.barre{
  position: relative;
  width: 100%;
  height: 15px;
  background-color: white;
}

.barre::after{
  content: '';
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 80%;
  top: 10.5%;
  left: 0.2%;
}

.barre::before{
  /* content: '80%'; */
  position: absolute;
  top: -170%;
  
}

/* soft skill ......................................... */
.softskills{
  width: 100%;
}

.softskills ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.softskills li{
  margin-bottom: 50px;
  margin-right: 20px;
  width: 45%;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(24, 24, 24);
}

/* *************************partie contact */
.bloc{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.blocleft{
  width: 45%;
}

.blocleft h1{
  font-size: 4rem;
  font-family: 'Hanken Grotesk', sans-serif;
}
.blocright{
  width: 45%;
}

.blocright img{
  filter: drop-shadow(6px 6px 10px red) invert(90%);
  height: 40px;
}

.blocright .contenaire{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-family: 'Hanken Grotesk', sans-serif;
}

.blocright .contenaire img{
  margin-right: 20px;
  cursor: pointer;
}


.blocright .contenaire h3{
  font-size: 1.5rem;
}

.cv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

.cv div{
  display: flex;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
font-size: 1.3rem;
}

.cv div h2{
  margin-left: 20px;
}

.cv div img{
  filter: drop-shadow(6px 6px 10px red) invert(90%);
  height: 60px;
}

/* *********************media querie */
@media screen and (max-width: 828px){
  .scrollee1 h1{
    font-size: 3rem;
    font-family: 'Unbounded', sans-serif;
    text-transform: uppercase; 
    line-height: 0.9em; 
  }

  .scrollee1{
    height: 60vh; 
  }
}

@media screen and (max-width: 528px){
  .competencetitle {
    margin: 25px 0;
  }
  .competencetitle button{
    padding: 15px;
    width: 45%;
    font-size: 1rem;
  }

  .hardskills li{
    margin-bottom: 50px;
    margin-right: 10px;
    width: 90%;
  }

  .softskills li{
    margin-bottom: 50px;
    margin-right: 10px;
    width: 90%;
    list-style: none;
  }

  .bloc{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .blocleft{
    width: 95%;
    margin-bottom: 50px;
  }
  
  .blocleft h1{
    font-size: 2rem;
  }
  .blocright{
    width: 95%;
  }
}