.scene{
  width:100vw;
  height:auto;
}

.canvas{
  background: rgb(28,36,51);
  position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.page{
  position: relative;
  height: 10000px;
  
}