@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;400;500&family=Irish+Grover&family=Unbounded:wght@200;400;500;600;800;900&display=swap');

/* font-family: 'Hanken Grotesk', sans-serif; ......................*/

/* ................................ */

.scrollee1{
  /* background: #e85549; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scrollee1 h1{
  font-size: 5rem;
  font-family: 'Unbounded', sans-serif;
  text-transform: uppercase; 
  line-height: 0.9em; 
}

.scrollee1 h1:nth-child(1){
  transform: rotateX(4deg) rotateZ(356deg) rotateY(-46deg);
  animation: scroll1 2s linear infinite;
}

/* contenair de project */
.blocprojet ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 1000px;
}
.blocprojet ul li{
  list-style: none;
  transform: rotateX(4deg) rotateZ(356deg);
  transform-style: preserve-3d;
}

.blocprojet ul li:nth-child(2n){
  margin-top: 100px;
}

.contenair{
  width: 400px;
  height: 500px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 60px;
}

.contenair img{
  width: 100%;
  height: auto;
  transition: scale 0.3s linear;
}

.contenair:hover img{
  scale: 1.2;
}

.contenair .info{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
}

.info h2{
  font-family: 'Unbounded', sans-serif;
  text-transform: uppercase; 
}

.info p{
  font-family: 'Hanken Grotesk', sans-serif;
  text-transform: uppercase; 
  margin-top: 10px;
  opacity: 0.7;
  font-size: 0.8rem;
}
.contenair:hover .info{
  opacity: 1;
  left: 0;
}

/* ************** project ***********************/
.sectionprojet{
  width: 100%;
  height: auto;
}

.sectionprojet main{
  padding: 0 50px;

}
.sectionprojet header {
  position: fixed;
  width: 100%;
  padding: 25px 50px 0 25px;
  display: flex;
  justify-content: space-between;
  z-index: 2000;
}

.sectionprojet header a{
  font-family: 'Unbounded', sans-serif; 
  font-weight: 700;
}

.sectionprojet header ul a{
  font-family: 'Hanken Grotesk', sans-serif; 
  font-weight: 700;
}

.sectionprojet .titre{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.8rem;
}

.sectionprojet .bkg{
  width: 100%;
  padding: 0 50px;
}

.sectionprojet .bkg img{
  width: 100%;
}

.sectionprojet .description{
  width: 100%;
  margin-top: 150px;
  padding: 0 100px;
  font-family: 'Hanken Grotesk', sans-serif;
}

.sectionprojet .description div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sectionprojet .description div h2{
  width: 45%;
}

.reseme h2{
  text-transform: uppercase;
}

.techno{
  margin-top: 100px;
}

.techno h2{
  text-align: right;
  opacity: 0.4;
  font-size: 1.2rem;
}

.techno p{
  opacity: 0.7;

}

.sectionprojet .description div p{
  width: 45%;
  text-align: justify;
}

/* ****************swipper *********** */
.swiper{
  width: auto !important;
}
.mysiwpe {
  width: 100%;
  height: 80vh;
  /* background-color: #ffffff; */
  padding: 50px;
  overflow-y: hidden;
  margin-bottom: 100px;
  margin-top: 100px;
}

.imgSlide{
  width: 70vh;
  margin: 0 30px;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.voir{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
}

.voir div{
  width: 250px;
  height: 250px;
  background-color: brown;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ********************************** media quereis */
@media screen and (max-width: 1028px){
  .contenair{
    width: 350px;
    height: 450px;
    margin: 30px;
  }
}

@media screen and (max-width: 828px){
  .scrollee1 h1{
    font-size: 3rem;
    font-family: 'Unbounded', sans-serif;
    text-transform: uppercase; 
    line-height: 0.9em; 
  }

  .scrollee1{
    height: 70vh;
  }

  .imgSlide{
    width: 50vh;
    margin: 0 15px;
  }

  .sectionprojet .description div h2{
    width: 30%;
  }

  .sectionprojet .description div p{
    width: 65%;
  }

  .sectionprojet .titre{
    height: 60vh;
  }

  .sectionprojet .description div{
    display: flex;
    flex-direction: column;
  }
  .sectionprojet .description div h2{
    width: 95%;
    text-align: left;
  }

  .sectionprojet .description div p{
    width: 95%;
  }

  .techno{
    margin-top: 30px;
  }

  .imgSlide{
    width: 90vh;
  }

  .mysiwpe {
    height: 70vh;
    padding: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 528px){
  .sectionprojet .description{
    width: 100%;
    margin-top: 50px;
    padding: 0 25px;
  }

  .sectionprojet main{
    padding: 0 5px;
  }

  .sectionprojet .bkg{
    padding: 0 10px;
  }

  .sectionprojet .titre{
    height: 40vh;
  }

  .mysiwpe {
    height: 100vh;
    padding: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .imgSlide{
    width: 80vh;
    scale: 0.5;
  }
}